<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Lets see if this update works?</p>
    <p>Well if you can see this it did!</p>
    <p>Lets try this again!</p>
  </body>
</html>
